.button {
  background: $green;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  transition: .5s
}
.button:hover {
  background: darken($green, 8%);
}
.button--link,
.button--link:hover {
  background: none;
}
.button--secondary {
  background-color: #888888;
}
.button--secondary:hover {
  background-color: darken(#888888, 8%);
}
.button--danger {
  background-color: #fd5a5a;
}
.button--danger:hover {
  background-color: darken(#fd5a5a, 8%);
}
.button--margin-right {
  margin-right: $s-size;
}
