// Colors
$bright-red: #D81E5B;
$dark-grey: #23395B;
$off-white: #f7f7f7;
$light-green: #B9E3C6;
$green: #59C9A5;
$light-yellow: #FFFD98;
$grey: #666;
$bright-blue: #219eb7;
// $dark-blue: #364051;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
